.login{
    display: flex;
    height: 100vh;

}

.container-login{
    width: 50vw;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-top-right-radius: 20px;
    background-color: white;
    color: black;
}

.content-login h1{
    margin-top: 30%;
    text-align: center;
}

.content-login p{
    text-align: center;
}

.content-login input{
    display: flex;
    flex-direction: column;

    margin-left: 30%;
  
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 8px;
    font-family: 'Hahmlet', serif;
    
}

.content-login button{
    background-color: rgba(30,2,83,1);
    color: white;
    padding: 10px;
    border-radius: 2px;
    border: none;
    font-family: 'Hahmlet', serif;
    margin-left:45%;
}

#titulo{
    color: white;
    font-family: 'Lobster', cursive;
    margin-left: 16%;
    margin-top: 18%;
    text-shadow: 1px 1px 2px black;
}

#titulo h1{
    
    font-size:3.8rem;
    
}

#titulo p{
    text-align: center;
}

#btn-subscribe{
    margin-top: 5px;
    margin-left: 260px;
    color: black;
    background-color: white;
    font-weight: bolder;
}
