.thumbnail{
    height: 45vh;
    color: black;
}

.thumbnail img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: 42%;
    margin-top: 18vh;
    border: 5px solid white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.thumbnail h3{
    text-align: center;
    margin-top: 2%;
    
}



.items_lista h2{
    font-family: 'Lobster', cursive;
    font-size: 1.8rem;
    
}
.lista{

    background-color: white;
    color: black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
}

#fav{
    margin-bottom: 3%;
    width: 20vw;
    border-radius: 10px;
    border: 2px solid rgb(95, 23, 113);
    margin-left: 3%;
}

#content-fav{
    display: flex;
    margin-left: 5%;
    flex-wrap: wrap;
}

.content-movie{
    padding: 10px;
}

.items_lista{
    padding-top: 10%;
    padding-left: 10%;
    padding-bottom:6%;
    
}

#btn-remove{
    background-color:rgb(95, 23, 113) ;
    border: none;
    border-radius: 5px;
    padding: 8px;
    color: white;
    margin-left: 35%;
    margin-top: 4%;

}