.thumbnail{
    height: 45vh;
    color: black;
}

.thumbnail img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: 42%;
    margin-top: 18vh;
    border: 5px solid white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.thumbnail h3{
    text-align: center;
    margin-top: 2%;
    
}

.items_lista{
    padding-top: 15%;
    padding-left: 10%;
}

.items_lista h2{
    font-family: 'Lobster', cursive;
    font-size: 1.8rem;
    
}
.lista{

    height: 100vh;
    background-color: white;
    color: black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

