#container{
    margin-bottom: 10px;
    margin-left: 3.4vw;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
   
}

#movie{
    margin-bottom: 3%;
    width: 20vw;
    border-radius: 10px;
    display: flex;
    max-width: 20vw;
}
.btn-movie{
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    padding: 3px;
    background-color: rgba(30,2,83,1);
    color: white;
    width: 10vw;

}

.btn-movie p{
    flex-wrap: wrap;
    word-break: normal;
}

.btn-movie img{
    width:120px;
}
